.comment {
    border: 1px solid #fbfbf8;
    border-radius: 15px;
    padding: 10px;
    background-color: #fbfbf8;
}

.user-img {
    width: 50px;
    height: 50px;
}

.h-45{
    height: 45px;
}
.mt-66 {
    margin-top: 66px;
}
.stick-bottom {
    position: sticky;
    bottom: 0;
    background-color: #f3f3f3;
    z-index: 1
}

@media (min-width: 575px) {
    .user-img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 960px) {
    .user-img {
        width: 100px;
        height: 100px;
    }
}